---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="wrapper">

    <div class="main-hero-col-wrapper">

      <div class="main-hero-col main-hero-col-1">
        <a href="https://www.amazon.com/Durango-Sky-J-Allen-Wolfrum-ebook/dp/B0854N8T7V" target="_blank"><img src="{{site.baseurl}}/assets/img/durango_sky_small.jpg"></a>
      </div>
      
      <div class="main-hero-col main-hero-col-2">
        
        <p>
          Lane Shepherd was a salty cowboy born to ride the trail. It was the only way he knew. After unexpectedly losing his best friend, he began to question the purpose of it all.
        </p>
        <p>
          The thought of settling down and starting a family took hold when an old friend offered him a job as county sheriff in Durango.
        </p>
      </br>
        <p>
          Caught between the letter of the law and frontier justice, Lane finds love, lead, and longing in Durango.
        </p>
        <div id="mc_embed_signup">
          <input type="submit" value="Buy on Amazon" name="amazon-buy" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </div>


  </div>

   

</div>
