---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="wrapper">

    <div class="main-hero-col-wrapper">

      <div class="main-hero-col main-hero-col-1">
        <a href="https://www.amazon.com/Durango-Sky-J-Allen-Wolfrum-ebook/dp/B0854N8T7V" target="_blank"><img src="{{site.baseurl}}/assets/img/durango_sky_small.jpg"></a>
      </div>
      
      <div class="main-hero-col main-hero-col-2">
        
        <p>
          Lane Shepherd was a salty cowboy born to ride the trail. It was the only way he knew. After unexpectedly losing his best friend, he began to question the purpose of it all.
        </p>
        <p>
          The thought of settling down and starting a family took hold when an old friend offered him a job as county sheriff in Durango.
        </p>
      </br>
        <p>
          Caught between the letter of the law and frontier justice, Lane finds love, lead, and longing in Durango.
        </p>
        <h3>
          <a href="https://www.amazon.com/Durango-Sky-J-Allen-Wolfrum-ebook/dp/B0854N8T7V" target="_blank">Buy on Amazon</a>
        </h3> 
        <p>
          If you're looking for a signed paperback copy on the cheap, I might know a guy.
          <p>Send me an email:  <a href="">jerad@jallenwolfrum.com</a></p>
        </p> 
      </div>
    </div>
  </div>

</br>
<hr></hr>
</br>

  <div class="wrapper">

    <div class="main-hero-col-wrapper">

      <div class="main-hero-col main-hero-col-1">
        <a href="https://www.amazon.com/gp/product/B078P8T5R2/ref=dbs_a_def_rwt_hsch_vapi_tkin_p1_i1" target="_blank"><img src="{{site.baseurl}}/assets/img/selected_small.jpg"></a>
      </div>
      
      <div class="main-hero-col main-hero-col-2">
        
        <p>
          Former Army helicopter pilot, Susan Turner is Selected as the next President of the United States.
        </p>
        <p>
          In order to avoid a nuclear war, she must overcome personal demons and learn to navigate the murky waters of international diplomacy.
        </p>
      </br>
        <p>
          Even when the President is selected at random, politics is still a dirty business. Opponents plan their attacks from the shadows, but you know what they say about the best laid plans.
        </p>
        <h3>
          <a href="https://www.amazon.com/gp/product/B078P8T5R2/ref=dbs_a_def_rwt_hsch_vapi_tkin_p1_i1" target="_blank">Buy on Amazon</a>
        </h3> 
      </div>
    </div>
  </div>

   

</div>
