---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="wrapper">

    <div class="row">
      <!-- <div class="main-hero-col main-hero-col-1"> -->
        <div class="column">
        <img src="{{site.baseurl}}/assets/img/circle-cropped-jerad.png">
      </div>
      
        <div class="column">
        <h1>Hello and Welcome</h1>
        <p>I'm J. Allen Wolfrum. I write fiction and a few lines of poetry from time to time.</p>
      </br>
        <p>My current writing now lives at
          <a href="https://rhythmandink.com"><strong>rhythmandink.com</strong></a>.
          Head over there to read the latest.</p>
      </br>
        <p>Thanks for stopping by the site. Happy Reading!</p>
      </div>
    </div>
  </div>

</div>
