---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="wrapper">

    <div class="main-hero-col-wrapper">

      <div class="main-hero-col main-hero-col-1">
        <img src="{{site.baseurl}}/assets/img/circle-cropped-jerad.png">
      </div>
      
      <div class="main-hero-col main-hero-col-2">
        <h1>Hello and Welcome</h1>
        <p>I'm J. Allen Wolfrum. I write Western genre fiction and a travel blog. Also, maybe a poem or two.</p>
      </br>
        <p>Signup for my email list to stay up to date with my work.</p>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
        <form action="https://jallenwolfrum.us16.list-manage.com/subscribe/post?u=d9ee1aad21d7c86860a3a7326&amp;id=1439e3e97d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d9ee1aad21d7c86860a3a7326_1439e3e97d" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
        </div>
      </br>
        <p>Thanks for stopping by the site. Happy Reading!</p>
      </div>
    </div>
  </div>

      <!--End mc_embed_signup-->

</div>
